/**
 * @name I WANT TO FUCK GANYU
 * @author nigger
 * @version 3.0.0
 * @description A cold, dark & frosty theme.
 * @source https://github.com/DiscordStyles/DarkMatter/
 * @BDEditor Dark Matter
*/

  @import url('https://raw.githubusercontent.com/scopiwolf/riiiil/main/utils/nig.css');

:root {
  --background-image: url('https://raw.githubusercontent.com/scopiwolf/riiiil/main/utils/PORN.png');
  --accent: 186,27,39;
  --accent-alt: 77,27,39;
  --background-solid: #2C0303;
  --background-solid-dark: #1C0202;
  --background-solid-darker: #170101;
}

/* Any custom CSS below here */


