/**
 * @name I WANT TO FUCK GANYU
 * @author nigger
 * @version 31.not sus gay
 * @description ganyu is fucking wife material she's fuucking free milk she's gf material she's MATERIAL
 * @source https://github.com/DiscordStyles/DarkMatter/
 * @BDEditor nigga
*/

  @import url('https://raw.githubusercontent.com/scopiwolf/riiiil/main/utils/nig.css');

:root {
  --background-image: url('https://raw.githubusercontent.com/scopiwolf/riiiil/main/utils/PORN.png');
  --accent: 186,27,39;
  --accent-alt: 77,27,39;
  --background-solid: #2C0303;
  --background-solid-dark: #1C0202;
  --background-solid-darker: #170101;
}

/* Any custom CSS below here */


