/**
 * @name SHENHEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
 * @author nigger
 * @version 31.not sus gay
 * @description shes so fucking sexy
 * @source https://github.com/DiscordStyles/DarkMatter/
 * @BDEditor nigga
*/

  @import url('https://raw.githubusercontent.com/dudenogay/wqfqwefqwe/main/utils/nig2.css');

:root {
  /*--home-image: none;*/
  --home-image: url('https://s3.getstickerpack.com/storage/uploads/sticker-pack/genshin-shenhe/sticker_7.png');
  --background-image: url('https://raw.githubusercontent.com/dudenogay/wqfqwefqwe/main/utils/peakpx.remini-enhanced.png');
  --accent: 73,175,187;
  --accent-alt: 47,112,120;
  --background-solid: #7f4242;
  --background-solid-dark: #6b2424;
  --background-solid-darker: #4d1b1b;
}